@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
:root {
  --principalcolor: #B50000;
}

body {
  font-family: 'Raleway', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

header {
  background-color: var(--principalcolor);
  width: 100vw;
  height: max-content;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  .blason {
    z-index: 2;
    width: 75px;
    position: absolute;
    top: 0;
    left: 4rem
  }
}

h1 {
  font-size: 3rem !important;
  text-align: center;
  font-family: "Heebo ExtraLight", sans-serif;

}

h2 {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1px;
}

p {
  font-family: 'Raleway Medium', sans-serif;
  font-size: 1.4rem;
}

.block {
  display: block;
  height: 25px;
}

.petit_block {
  display: block;
  height: 5px;
}

main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 175px;

  a {
    color: #000;
  }

  a:hover:after, a:hover p:after, a:hover h2:after{
    width: 100%;
    transition: width .3s;
  }

  a:after,a p:after, a h2:after {
    content: '';
    border-bottom: 2px solid var(--principalcolor);
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .3s;
  }

  a {
    color: #000;
    font-family: "Heebo Light", sans-serif;
    font-size: 1.4rem;
    position: relative;
    padding-bottom: 2px;
  }
}

@media (max-width: 900px) {
  footer {
    justify-content: left !important;

  }
}

footer {
  margin-top: 75px;
  background-color: var(--principalcolor);
  color: white;
  padding: 20px 10% 40px 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  a h1:after {
    content: '';
    border-top: white solid;
    border-top-width: 3px;
    transition: border-top-width .3s;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: -1;
  }

  .mention_footer, .plan_site_footer {
    a {
      height: max-content;
      h1 {
        padding: 10px!important;
      }
    }


  }

  .contact_footer {
    a:hover:after {
      width: 100%;
      transition: width .3s;
    }

    a {
      font-family: "Heebo Light", sans-serif;
      font-size: 1.4rem;
      position: relative;
      padding-bottom: 2px;
    }

    a:after {
      content: '';
      border-bottom: 2px solid white;
      width: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: width .3s;
    }
  }

  a h1:hover:after {
    border-top: 60px solid white;
    transition: border-top-width .3s;

  }

  a h1:hover {
    color: #000;
    transition: color .3s;
  }

  h1 {
    margin-left: 20px;
    margin-right: 50px;
    position: relative;
    transition: color .3s;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    height: max-content;
    z-index: 1;
    width: max-content;

  }

  div {
    margin-left: 30px;
    margin-right: 30px;

    h1 {
      margin-left: 0;
      padding-left: 0;
    }
  }
}

#home {
  //margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 125px;

  //width: 70%;

  .news {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 50px 30px 0 30px;
  }

  .cal {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 50px 30px 0 30px;

    a {
      width: max-content;
      margin-left: auto;
      margin-right: auto;
    }


  }

  .event:nth-child(n+5) {
    display: none;
  }

  .actus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 390px;
    width: 300px;

    .arrows {
      width: 30px;
      height: max-content;
      z-index: 1000;
      cursor: pointer;
    }

    .arrow_r:hover {
      transform: translateX(10px) translateY(-50%) rotate(180deg);
      transition: transform .3s;
    }

    .arrow_l:hover {
      transform: translateX(-10px) translateY(-50%);
      transition: transform .3s;
    }

    .arrow_l {
      transition: transform .3s;
      position: absolute;
      top: 50%;
      left: -10%;
      transform: translateY(-50%);

    }

    .arrow_r {
      transform: translateY(-50%) rotate(180deg);
      transition: transform .3s;
      position: absolute;
      top: 50%;
      right: -10%;
    }

    .actu.active {
      opacity: 1;
    }

    .actu {
      object-fit: cover;
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      align-items: flex-end;
      border-radius: 30px;
      overflow: hidden;
      justify-content: center;
      opacity: 0;
      transition: opacity .5s;


      img {
        height: 120%;
        transition: height .3s;
      }

      .text_actu {
        width: 100%;
        height: 35%;
        background-color: rgba(181, 0, 0, .9);
        border-radius: 0 0 30px 30px;
        padding: 10px;
        position: absolute;

        h2, p {
          margin-left: 20px;
        }

        .see_more {
          margin-left: 0;
          margin-right: 20px;
          text-align: end;
        }

        * {
          color: white
        }

      }

    }

  }

}

@media (max-width: 400px) {
  .arrow_l {
    bottom: -10%!important;
    left: 50%!important;
    top: auto!important;
    transform: translateX(-100%) !important;
  }
  .arrow_r {
    bottom: -10%!important;
    right: 50%!important;
    top: auto!important;
    transform: translateX(100%) rotate(180deg) !important;

  }
}

@media (max-width: 375px) {


  .calendar {
    .event {
      width: 225px !important;
    }
  }
}

.cal_messes {
  flex-direction: row !important;
  justify-content: normal !important;

  .event {
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;

  }
}

.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .event:hover {
    transform: translateY(-10px);
    transition: transform .3s;
  }

  .event {
    transition: transform .3s;

    min-width: 200px;
    //max-width: 300px;

    height: 140px;
    border-radius: 30px;
    box-shadow: 0 4px 7px -3px black;
    margin-bottom: 50px;
    padding: 20px 30px;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;

    .date {
      padding-top: 1px;
      display: flex;
      align-items: center;

      div {
        margin-left: 10px;
        margin-bottom: 15px;

        hr {
          border-top: 1px var(--principalcolor) solid;
          width: 70px;
        }

        .day_date, .month_date {
          font-family: "Heebo Light", sans-serif;
          font-size: 1.5rem;
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }

    .num_date {
      font-family: "Heebo SemiBold", sans-serif;
      font-size: 3rem;
      color: white;
      background-color: var(--principalcolor);
      width: max-content;
      padding: 10px;
      border-radius: 15px;
      margin: 0 5px 15px 0;
    }
  }

}

.lien_page:hover {
  transform: translateY(-15px);
  transition: transform .3s;

  .img_lien {
    height: 140%;
    transition: height .3s;
  }
}

.lien_page {
  transition: transform .3s;
  height: 350px;
  display: flex;
  align-items: flex-end;
  border-radius: 30px;
  margin-bottom: 40px;
  width: 275px;
  position: relative;
  justify-content: center;

  a {
    display: contents;
  }

  .img_lien {
    height: 120%;
    transition: height .3s;
  }

  .text_page {
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 25%;
    background-color: rgba(181, 0, 0, .9);
    border-radius: 0 0 30px 30px;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 2rem;
      text-align: center;
    }


  }
}

.bandeau div {
  width: 275px;
  height: 560px;
  border: 2px solid black;
  margin-bottom: 30px;
}

.bandeau {
  margin-right: 100px;
  margin-top: 30px;
}

.content {
  display: flex !important;
  flex-direction: row;
  width: 91%;
  margin-right: auto;
  margin-left: auto;
  //justify-content: space-around;
  //flex-wrap: wrap;

}

.pages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;

  > div {
    margin: 30px 10px;
    overflow: hidden;
  }

}

@media (max-width: 1090px) {
  .bandeau {
    display: none;
  }

  .pages {
    justify-content: center;
  }
}

.info {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


.fiche_pdf, .fiche_lien {
  box-shadow: 0 4px 7px -3px black;
  margin: 20px 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 10px 20px;
  height: auto;

  h2 {
    //margin: auto 0 ;
    background-color: var(--principalcolor);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5rem !important;
  }

  .link_pdf {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
  }

  a {
    color: #000;
    font-family: "Heebo Light", sans-serif;
    font-size: 1.4rem;
    position: relative;
    padding-bottom: 2px;
  }

  a:hover:after {
    width: 100%;
    transition: width .3s;
  }

  a:after {
    content: '';
    border-bottom: 2px solid var(--principalcolor);
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .3s;
  }
}

.liste_pdf {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 75px;
}

tr {

  .heure {
    width: 35%;
  }

  td {
    width: 65%;
  }
}


@media (max-width: 720px) {
  .eglises, .info_admin, .liste_info_pratiques {
    justify-content: center;
  }
}

.eglises {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cal_manif {
  justify-content: normal;
  margin-top: 30px;
  flex-direction: row;

  .event {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.service {
  border-radius: 30px;
  box-shadow: 0 4px 7px -3px black;
  width: 250px;
  padding: 20px 30px;
  margin-right: 20px;
  margin-bottom: 20px;

  h2 {
    margin: auto 0;
    background-color: var(--principalcolor);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5rem !important;
  }
}

.fiche_lien {
  a {
    margin-top: 10px;
  }
}

.card_shadow {
  border-radius: 30px;
  box-shadow: 0 4px 7px -3px black;
  width: 250px;
  padding: 20px 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;

  h2 {
    margin-top: 0;
    background-color: var(--principalcolor);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5rem !important;
  }
}

.fiche_img {
  box-shadow: 0 4px 7px -3px black;
  width: 250px;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;

  h2 {
    background-color: var(--principalcolor);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5rem !important;
    margin-top: 0;
    margin-bottom: 10px;
  }

  img {
    width: 90%;
    border-radius: 15px;
  }

}

.liste_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
}

.tableau {
  border-collapse: collapse;

  tr {
    border: 2px solid black;

  }

  td {
    width: 50%;
    padding: 10px 20px;
    border: 2px solid black;

    p {
      text-align: center;
      font-size: 2rem;
    }
  }

  tr:nth-child(2n) {
    background-color: var(--principalcolor);
    color: white;
  }
}

.text_img_text {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.col2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;

  & > div {
    margin-right: 50px;
    margin-left: 50px;
  }
}


.horaires {
  text-align: center;

  .tranches_horaire {
    background-color: var(--principalcolor);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color .3s, color .3s;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .tranches_horaire:hover {
    background-color: white;
    color: #000;
    transition: background-color .3s, color .3s;
  }

  .liste_wrap {
    justify-content: center;
  }
}

.grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: max-content;

  > div {
    height: max-content;
  }
}

.bloc_horaire {
  h2 {
    text-align: center;
  }

  .liste_wrap {
    justify-content: center;
  }
}

.bloc_resto_asso {
  h2 {
    font-size: 2rem;
  }
}

.fiche_resto_asso {
  box-shadow: 0 4px 7px -3px black;
  padding: 10px 20px;
  width: 250px;
  border-radius: 30px;
  margin-right: 20px;
  margin-bottom: 15px;

  h3 {
    font-size: 1.4rem;
    font-family: "Heebo", sans-serif;
    color: white;
    text-align: center;
    background-color: var(--principalcolor);
    border-radius: 18px;
    padding: 10px;
    margin-top: 0;

  }

  ul {
    list-style: none;
    padding: 0;


    li {
      margin-bottom: 10px;
    }

  }


}

.fiche_img_txt {
  box-shadow: 0 4px 7px -3px black;
  border-radius: 30px;
  padding: 15px 40px;
  max-width: 250px;
  margin-bottom: 50px;
  margin-right: 20px;

  h2 {
    background-color: var(--principalcolor);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5rem !important;
    margin-top: 0;
    margin-bottom: 10px;
  }


  img {
    border-radius: 15px;
  }
}

.elu {
  overflow: hidden;
  height: 350px;
  display: flex;
  align-items: flex-end;
  border-radius: 30px;
  margin-bottom: 40px;
  width: 275px;
  position: relative;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;

  img {
    height: 100%;
  }

  .nom_elu {
    flex-direction: column;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 25%;
    background-color: rgba(181, 0, 0, .9);
    border-radius: 0 0 30px 30px;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 2rem;
      text-align: center;
      margin-top: auto;

    }
  }
}

.info_cal, .text_actu {
  h2 {
    font-size: 2rem;
    text-align: left;
  }
}

.text_actu h2 {
  margin-top: 0;
}

.city {
  width: 75%;
}

.slider {
  position: relative;
}

.plan {
  h2 {
    text-align: left;
  }
  a {
    p {
      position: relative;
      padding-bottom: 3px;
      width: max-content;
    }
  }
  a {
    h2 {
      position: relative;
      padding-bottom: 3px;
      width: max-content;
    }
  }
}
